@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent horizontal overflow */
html,
body {
  overflow-x: hidden; /* Horizontal overflow ko hide karne ke liye */
  width: 100%;
  height: 100%;
}


@keyframes slideLeft {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  100% {
    transform: translateX(0); /* End at the current position */
  }
}

@keyframes slide-continuous {
  0% {
    transform: translateX(100%); /* Start from right */
  }
  50% {
    transform: translateX(0); /* Reach the original position */
  }
  100% {
    transform: translateX(-100%); /* Move out to the left */
  }
}

/* .animate-slide-continuous {
  animation: slide-continuous 4s ease-in-out infinite;
  animation-play-state: running; 
} */

/* Pause the animation when hovering */
/* .animate-slide-continuous:hover {
  animation-play-state: paused;
} */


@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px); /* moves up by 8px */
  }
}

.animate-floating {
  animation: floating 2s ease-in-out infinite;
}

