@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent horizontal overflow */
html,
body {
  overflow-x: hidden; /* Horizontal overflow ko hide karne ke liye */
  width: 100%;
  height: 100%;
}
